version: "3.6"
services:
  database:
    environment:
      POSTGRES_DB: ddev
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres-password
    image: ${dockerID}/ddev_db
    build:
      context: database
    restart: always
    secrets:
    - postgres-password
    volumes:
    - postgres-data:/var/lib/postgresql/data
  api:
    build:
      context: api
      dockerfile: Dockerfile-dev
    image: ${dockerID}/ddev_api
    ports:
      - "8080:8080"
      - "5005:5005"
    secrets:
    - source: postgres-password
      target: postgres_password
    environment:
      SPRING_PROFILES_ACTIVE: postgres

volumes:
  postgres-data: {}
secrets:
  postgres-password:
    file: devsecrets/postgres_password